nav {
  background: linear-gradient(to right, #da0505d5, #6b0303);
  color: white;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 30%;
      li {
        cursor: pointer;
        font-size: 18px;
        color: white;
        text-decoration: none;
        margin-right: 10px;
      }
    }
  }
}
